body {
}

#headshotDiv{
    padding-top:10em;
    padding-bottom:10em;
    border-top:2px thick silver;
    border-bottom: 2px thick silver;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

h2.flip {
    width: 80%;
    align-self: center;
    margin-left: 10%;
    margin-right:10%;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px thin black;
    padding: 10px;
    font-family: Roboto;
}

.center-text {
    margin: auto;
    width: 90%;
    padding: 5px;
    align-content: center;
}

p{
    font-size:18px;
}

.panel, .flip {
    padding: 20px;
}

.flip {
    text-align: center;
    color:black;
    background-color: silver;
    border-radius: 5px;
}

.panel {
    padding-left: 30px;
    text-align: left;
    display: none;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}

